@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

html {
    background-color: #24272b;
    font-family: 'Fira Code', monospace;
    scroll-behavior: smooth;
}

input[type=text][disabled] {
    color: white !important;
}

.top-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -150vh;
    background-color: #24272b;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
    z-index: 50;
}

ul {
    display: grid;
    margin-top: 4% !important;
}

.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 2rem;
}

.nav-link {
    font-size: 5rem;
    padding: 1rem;
}

.nav-link:hover,
.nav-link:focus {
    background: linear-gradient(to right, #F1C40F, #1de9b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .8s;
}

.top-nav.open {
    top: 0;
    border-radius: initial;
}

.menu-toggler {
    position: absolute;
    /*position: fixed;*/
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}

.menu-toggler.open {
    transform: rotate(-45deg);
}

.bar1 {
    background: linear-gradient(to right, #F1C40F, #1de9b6);
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}

.bar1.half {
    width: 50%;
}

.bar1.start {
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar1.start {
    transform: rotate(-450deg) translateX(.8rem);
}

.bar1.end {
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar1.end {
    transform: rotate(-450deg) translateX(-.8rem);
}


nav {
    user-select: none;
    margin: 0 auto;
    width: 100%;
    background-color: #24272b;
    font-family: 'Fira Code', monospace;
    box-shadow: none !important;
    display: flex;
    justify-content: center;
}

ul li a {
    user-select: none;
    width: 100%;
    font-size: 20px;
}


nav.shift ul li a {
    position: relative;
    z-index: 1;
}

nav.shift ul li a:hover {
    user-select: none;
    color: black;
}

.home {
    position: relative;
    user-select: none;
    width: 100vw;
    min-height: 100vh;
    padding-left: 4em;
    padding-right: 4em;
    overflow: hidden;
}

.home .row {
    min-height: 100%;
}

.home-left {
    user-select: none;
    padding: 10em 0 0 2em;
    font-weight: 900;
    height: 100vh;
}

.home-left h1 {
    user-select: none;
    font-family: 'Fira Code', monospace;
    font-size: 100px;
    color: white;
}

.home-left span {
    user-select: none;
    color: #F1C40F;
}

.avatar-img {
    user-select: none;
    position: absolute;
    top: 5%;
    height: 100%;
    left: 28%;
    z-index: 0;
}


.home-right {
    user-select: none;
    display: inline-block;
    font-weight: 900;
    height: 100%;
    padding-left: 5em;
}

.home-right > p {
    margin-bottom: 0.75em;
}

.home-right p {
    user-select: none;
    color: #F1C40F;
}

.home-right .dev-info {
    user-select: none;
    color: white;
    font-size: 30px;
}

.home-right .more-info {
    user-select: none;
    color: #a09a9a;
}

.home-right .github-info {
    user-select: none;
    color: white;
}

.home-right .github-info a {
    user-select: none;
    color: #F1C40F;
}

.home-right .email-info {
    color: white;
}

.home-right .email-info a {
    user-select: text;
    cursor: pointer;
    color: #F1C40F;
}

.socials {
    user-select: none;
    font-size: 25px;
}

.fa-twitter {
    user-select: none;
    color: white;
}

.fa-twitter:hover {
    transition: .5s;
    color: #55ACEE;
}

.fa-linkedin {
    user-select: none;
    color: white;
}

.fa-linkedin {
    user-select: none;
    color: white;
}

.fa-linkedin:hover {
    transition: .5s;
    color: #007bb5;
}

.fa-instagram {
    user-select: none;
    color: white;
}

.fa-instagram:hover {
    transition: .5s;
    color: #125688;
}

#contact {
    padding-left: 10em;
    padding-right: 10em;
}

.left-column h5 {
    font-size: 1.4em;
}

@keyframes circle {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}

@-webkit-keyframes circle {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-55px);
    }
}

.animation {
    position: relative;
    min-height: 150px;
    padding-left: 7.5em;
    margin-bottom: 4em;
}

.circle {
    user-select: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #1de9b6;
    margin-top: 11px;
    margin-left: -6px;
    animation: circle .8s infinite alternate;
    -webkit-animation: circle .8s infinite alternate;
}

.triangle {
    user-select: none;
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 100px solid #42474e;
    margin-left: -100px;
    margin-top: 100px;
    transform: rotate(-25deg);
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

@-webkit-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

@-moz-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

.scroll-container {
    padding-top: 10em;
    width: 55%;
    text-align: center;
}

.scroll-btn {
    user-select: none;
}

.scroll-btn > * {
    user-select: none;
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #7f8c8d;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
    color: white;
    user-select: none;
}

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
    opacity: 0.8;
    filter: alpha(opacity=80);
    user-select: none;
}

.scroll-btn .mouse {
    user-select: none;
    position: relative;
    display: block;
    width: 35px;
    height: 55px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #F1C40F;
    border-radius: 23px;
}

.scroll-btn .mouse > * {
    user-select: none;
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: white;
    border-radius: 50%;
    -webkit-animation: ani-mouse 2.5s linear infinite;
    -moz-animation: ani-mouse 2.5s linear infinite;
    animation: ani-mouse 2.5s linear infinite;
}

.about {
    user-select: none;
}

.about .col {
    padding: 2.5em;
}

.about .about-p {
    padding-top: 1%;
    user-select: none;
    color: #F1C40F;
}

.about .about-big {
    user-select: none;
    color: white;
    font-size: 30px;
}

.about-small {
    user-select: none;
    color: #a09a9a;
}

.experience {
    user-select: none;
    color: white;
    font-size: 30px;
    display: contents;
}

.number {
    user-select: none;
    font-size: 100px;
    color: #F1C40F;
}

.right-about {
    user-select: none;
    color: white;
    font-size: 40px;
}

.right-about a {
    user-select: none;
    text-decoration: underline;
    color: #F1C40F;
    font-size: 20px;
}

.right-about i {
    user-select: none;
    font-size: 50px;
    color: #F1C40F;
    vertical-align: middle;
}

#about {
    background-color: #211f1f;
}

.service {

}

.service h6 {
    width: 100%;
    text-align: center;
    color: #F1C40F;
}

.service h6 span {
    text-decoration: underline;
}

.service h1 {
    width: 100%;
    text-align: center;
    color: white;
}

.frontend img {
    width: 50px;
    height: 50px;
}

.frontend h5 {
    color: white;
}

.frontend p {
    color: #a09a9a;
}

.backend p {
    color: #a09a9a;
}

.web-development p {
    color: #a09a9a;
}

.backend h5 {
    color: white;
}

.web-development h5 {
    color: white;
}

.frontend .line s {
    color: white;
}

.backend .line {
    color: white;
}

.web-development .line {
    color: white;
}

.web-development img {
    width: 50px;
    height: 50px;
}

.backend img {
    width: 50px;
    height: 50px;
}

.web-development {
    padding-top: 1em !important;
    background-color: #161616;
    border-right: 10px solid #F1C40F;
    border-bottom: 10px solid #F1C40F;
}

.web-development:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: .5s;
}

.lines {
    color: white;
    text-align: center;
    width: 100%;
    font-weight: 900;
}

.lines span {
    color: #F1C40F;
}

.skills h6 {
    width: 100%;
    text-align: center;
    color: #F1C40F;
}

.skills h2 {
    width: 100%;
    text-align: center;
    color: white;
}


.skills span {
    text-decoration: underline;
}

.skills {
    width: 100%;
    background-color: #211f1f;

}

.wrapper {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
}

.wrapper .card {
    background-color: #211f1f;
    height: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: none;

}

.wrapper .card .circle1 {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    cursor: default;
}

.card .circle1 .box,
.card .circle1 .box span {
    position: absolute;
    top: 50%;
    left: 50%;
}

.card .circle1 .box {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.2s;
}

.card .circle1:hover .box {
    transform: translate(-50%, -50%) scale(0.91);
    cursor: pointer;
    transition: .8s;
}

.card .circle1 .box span,
.wrapper .card .text {
    background: -webkit-linear-gradient(left, #F1C40F, #e7b417);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.circle1 .box span {
    font-size: 38px;
    font-family: sans-serif;
    font-weight: 600;
    transform: translate(-45%, -45%);
    transition: all 0.1s;
}

.card .circle1:hover .box span {
    transform: translate(-45%, -45%) scale(1.09);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #232121;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #F1C40F;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #F1C40F;
}

.gallery {
    background: #F1C40F;
    margin-left: 10%;
    margin-right: 10%;
}

.gallery-cell {
    width: 100%;
    height: 742px;
    margin-right: 10px;
    counter-increment: gallery-cell;
}

.gallery-cell img{
    width: 100% !important;
}

.flickity-prev-next-button {
    background-color: #F1C40F !important;
}

.flickity-page-dots .dot {
    background-color: #F1C40F !important;
}

.project-info {
    text-align: center;
    width: 100%;
    margin-top: -3em;
}

.project-info p {
    font-size: 18px;
}

.left-column h6 {
    color: #F1C40F;
    text-decoration: underline;
}

.left-column h3 {
    color: white;
}

.right-column h3 {
    color: white;
}

.right-column h6 {
    color: #F1C40F;
    text-decoration: underline;
}

.left-column img {
    width: 50px;
    height: 50px;
}

.email-section {
    display: flex;
}

.chat-section {
    display: flex;
}

.github-section {
    display: flex;
}

.linkedin-section {
    display: flex;
}

.email-section h5 {
    color: white;
}

.chat-section h5 {
    color: white;
}

.github-section h5 {
    color: white;
}

.github-section h5:hover {
    color: #F1C40F;
    transition: .5s;
}

.linkedin-section h5 {
    color: white;
}

.linkedin-section h5:hover {
    color: #F1C40F;
    transition: .5s;
}

.chat-section h5:hover {
    color: #F1C40F;
    transition: .5s;
}

.active {
    color: #F1C40F !important;
}

input {
    color: white !important;
}

.input-field .materialize-textarea {
    color: white !important;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #F1C40F !important;
    box-shadow: 0 1px 0 0 #F1C40F !important;
}

.input-field input[type=email]:focus {
    border-bottom: 1px solid #F1C40F !important;
    box-shadow: 0 1px 0 0 #F1C40F !important;
}

.input-field.col .materialize-textarea label {
    width: 97% !important;
    left: 1.75rem !important;
}


.input-field .materialize-textarea:focus {
    border-bottom: 1px solid #F1C40F !important;
    box-shadow: 0 1px 0 0 #F1C40F !important;
}

.input-field input[type=text]:disabled {
    border-bottom: 1px solid #F1C40F !important;
    box-shadow: 0 1px 0 0 #F1C40F !important;
}

.input-field input[type=email]:disabled {
    border-bottom: 1px solid #F1C40F !important;
    box-shadow: 0 1px 0 0 #F1C40F !important;
}

.input-field .materialize-textarea:disabled {
    border-bottom: 1px solid #F1C40F !important;
    box-shadow: 0 1px 0 0 #F1C40F !important;
}

.send-btn {
    font-size: 15px;
    width: 120px;
    height: 50px;
    color: black;
    background-color: #F1C40F;
}

.send-btn:hover {
    color: white;
    background-color: transparent;
    transition: .5s;
}

.scroll-top {
    background-color: #F1C40F;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: none;
    border-radius: 50%;
    text-align: center;
}

.btn:focus, .btn:active {
    background-color: #F1C40F;
}

.scroll-top i {
    display: inline-block;
    color: black;
}

.scroll-top:hover {
    background-color: #b18f05;

}

@media only screen and (max-width: 600px) {
    .home {
        height: auto;
    }

    .avatar-img {
        display: none;
    }

    .scroll-container {
        padding-top: 10em;
        width: 100%;
        text-align: center;
    }

    .home-left h1 {
        font-size: 50px;
        margin: 2.8rem 0 1.68rem 7px;
    }

    .home {
        align-items: center;
        padding-right: 1em;
        padding-left: 1em;
    }

    .home-right {
        padding-right: 1em;
        padding-left: 1em;
    }

    .home-left {
        padding-right: 1em;
        padding-left: 1em;
        height: 70vh;
    }

    .home h1 {
        font-size: 3em;
    }

    .home-right .triangle {
        margin-left: 1px;
    }

    .circle {
        margin-left: 6em;
    }

    .home-right p {
    }

    .about-p {
        text-align: center;
        font-size: 1.15rem;
    }

    .about-small {
        font-size: 1.15rem;
    }

    .about .about-big {
        font-size: 20px;
    }

    .right-about p {
        font-size: .7em;
        text-align: left;
    }

    .right-about a {
        font-size: .4em;
    }

    .experience {
        display: inline-block;
        font-size: 1.2em;
    }

    .number {
        font-size: 5em;
        text-align: center;
    }

    .about-small {
        margin-bottom: 15%;
    }

    .skills h2 {
        font-size: 30px;
    }

    .gallery {
        margin-left: 2%;
        margin-right: 2%;
    }

    .socials {
        margin-left: 45%;
    }

    .services-h {
        font-size: 3.2rem;
    }

    .left-column h3 {
        font-size: 2rem;
    }

    .left-column h6 {
    }


    .left-column h5 {
        font-size: 15px;
    }

    .left-column img {
        width: 40px;
        height: 40px;
    }

    .left-column {
        position: relative;
    }

    .right-column {
        display: none;
    }

    .menu-toggler {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 3rem;
        height: 2rem;
    }

    .nav-link {
        font-size: 3.5rem;
        flex-direction: column;
        color: white;
    }

    .hide-on-med-and-down {
        display: flex !important;
        flex-direction: column;
    }

    #contact {
        padding-left: 2em;
        padding-right: 2em;
        overflow-x: hidden;
    }

    #contact h5 {
        font-size: .8em;
    }

    ul{
        margin-top: 30% !important;
    }
}


@media only screen and (max-width: 1400px) {
    .avatar-img {
        display: none;
    }
}
